<!-- <div class="container-fluid d-flex flex-column align-items-center ">
  <h2 class="text-left">CARAVAL</h2>
  <img src=".\assets\Caraval.jpg" alt="Caraval" class="img-fluid" width="300" height="400">
  <p class="text-center">Bienvenido, bienvenido a Caraval. Ganar significa la libertad. Perder, renunciar a todos tus sueños.
     ¿Estás preparado? El juego ha empezado.  Recuerda, sólo es un juego…Scarlett Dragna nunca ha abandonado la pequeña isla
     en la que ella y su hermana Tella viven bajo la vigilancia de su estricto y cruel padre. Desde hace años Scar sueña con
     asistir a la celebración anual de Caraval, unos legendarios juegos que duran una semana y en los que la audiencia participa
     para ganar el Gran Premio. Caraval es magia, misterio y aventura. Y para Scarlett y su hermana representa la libertad y poder
      huir de su padre. Ahora que está a punto de casarse con un hombre al que nunca ha visto, Scar cree que su sueño nunca se
      cumplirá. Pero justo dos semanas antes de la boda recibe las tan ansiadas invitaciones a los juegos. Sin embargo, una vez
      allí nada sale como espera: Legend, el Maestro de Caraval, secuestra a Tella y Scarlett se verá obligada a entrar en un
      peligroso juego de amor, sueños, medias verdades y magia en el que nada es lo que parece. Real o no, sólo dispone de cinco
       noches para descifrar todas las pistas que conducen hacia su hermana, o ésta desaparecerá para siempre…
  </p>
  <p class="text-center">Entra en nuestro catálogo y descubre todo lo que tenemos para ti</p>
  <a routerLink="/catalogo" routerLinkActive="activeButton" class="btn btn-primary">Catálogo</a>
</div> -->
