<div class="container-fluid d-flex flex-column align-items-center border p-3">
    
   <h2>CONTÁCTANOS</h2>
    <br>
    <p>¿Tienes alguna duda o sugerencia? No dudes en ponerte en contacto con nosotros. Estaremos encantados de ayudarte.</p>
    <div class=" align-self-center col-5 mb-3 border p-3">
    <h6>Formulario de contacto</h6>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre completo">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      <label for="exampleFormControlInput1" class="form-label">Teléfono</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Número de teléfono">
        
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
    </div>
    <br>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Acepto los términos y condiciones</label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button> 
</div>
<br><br>
