<div class="container-fluid d-flex flex-column align-items-center ">
    <br><br>
  <h1 class="text-center">ÚNETE A NOSOTROS</h1>
    <p class="text-center">Suscríbete a nuestra web para recibir las últimas novedades y recomendaciones de libros.</p>
    <form class="d-flex flex-column align-items-center ">
        
        <div class=" align-items-center  border p-3">
            
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" name="nombre" placeholder="Introduce tu nombre" required class="form-control mb-2" style="width: 300px;">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" name="apellido" placeholder="Introduce tu apellido" required class="form-control mb-2" style="width: 300px;">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" name="email" placeholder="Introduce tu correo electrónico" required class="form-control mb-2" style="width: 300px;">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" name="password" placeholder="Introduce tu contraseña" required class="form-control mb-2" style="width: 300px;">
            <label for="password" class="form-label">Repite la Contraseña</label>
            <input type="password" name="password" placeholder="Repite tu contraseña" required class="form-control mb-2" style="width: 300px;">
        </div>
        <div class="mb-3 form-check">
            <br><br>
            <button type="submit" class="btn btn-primary">Suscribirse</button>
            <p class="mt-2">Al suscribirte, aceptas recibir correos electrónicos sobre novedades y promociones.</p>
        </div>    
    </form> 

</div>
<!--   <br><br>
 -->
